<mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile>
                <pie-chart [charts] = "charts"></pie-chart>
        </mat-grid-tile>
        <mat-grid-tile>
                <bar-chart [charts] = "charts"></bar-chart>
        </mat-grid-tile>
        <mat-grid-tile>
                <line-chart [charts] = "charts"></line-chart>
        </mat-grid-tile>
        <mat-grid-tile>
                <doughnut-chart [charts] = "charts"></doughnut-chart>
        </mat-grid-tile>
</mat-grid-list>