/* mat-grid-tile{
    border: 1px solid black;
} */

mat-grid-list{
    /* padding-top: 20px; */
    flex: 1;
    background-color: lightgray;
    height: 100%;
}
mat-card{
    padding-top: 10px;
}

data-grid {
    width: 100%;
    max-height: 700px;
}
/* mat-grid-tile{
    padding-bottom: 20px;
} */