
/*.mat-container {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    max-height: 700px;
  }
  
  .mat-header {
    min-height: 64px;
    padding: 8px 24px 0;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  .mat-table {
    overflow: auto;
    display: table;
    border-collapse: collapse;
  }

  .mat-cell{
    padding-left: 5px;
    padding-right: 5px;
    cursor: default;
    width: 100px;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .mat-header-cell{
    cursor: default;
    white-space: nowrap;
    text-overflow: ellipsis;
  }*/

  .mat-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
  }
  
  /*
   * Styles to make the demo's cdk-table match the material design spec
   * https://material.io/guidelines/components/data-tables.html
   */
  .mat-table {
    flex: 1 1 auto;
    overflow: auto;
    max-height: 500px;
  }
  
  .mat-header-row, .mat-row {
    display: flex;
    border-bottom: 1px solid #ccc;
    align-items: center;
    height: 32px;
    padding: 0 8px;
  }
  
  .mat-cell, .mat-header-cell {
    flex: 1;
  }
  
  .mat-header-cell {
    cursor: default;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 12px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.54);
  }
  
  .mat-cell {
    padding-left: 5px;
    padding-right: 5px;
    cursor: default;
    width: 100px;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.87);
  }