<div style="display: block" *ngIf="charts">
    <label class="chart-title">{{pieChartTitle}}</label>
    <canvas #piecanvas baseChart width="600px" [datasets]="pieChartDataSet" [labels]="pieChartLabels" [chartType]="pieChartType"
        [options]="pieChartOptions" [legend]="false" [colors]="pieChartColors" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
    <div id="wrap">
        <button mat-icon-button (click)="Back()">
            <mat-icon>arrow_upward</mat-icon>
        </button>
        <div #chartdata class="msg"></div>
    </div>
</div>